/* custom font from cloud storage IAN.G */
@font-face {
  font-family: 'CelticHand';
  src: url('https://res.cloudinary.com/dfwhnlt1s/raw/upload/v1713124666/Bowes-Irish-Whiskey/CelticHand_ezude7.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* Google font */
body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

h1 {
  font-family: 'CelticHand';
}

/* Responsive nav IAN.G */
.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: #169b61eb;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  font-family: 'CelticHand';
}

.navbar .navbar-nav a {
  font-size: 1rem;
}

.navbar .navbar-toggler {
  border: 0px;
}

 /* buttons IAN.G */

.btn--cta.btn-orange {
  color: #191919cf;
  background-color: #f5f5f3c3;
  border-radius: 5px;
  font-size: 14px;
}


.btn--cta.btn-orange:hover,
.btn--cta.btn-orange:active,
.btn--cta.btn-orange:focus,
.btn--cta.btn-orange:active:focus {
    background-color: #ff883ee5;
    color: rgb(255, 255, 255);
    font-size: 14px;
}


/* Added in as part of work on contact-page in particular, PD */
.container{
  margin:0 auto;
}

.row{
  justify-content: space-between;
}

#contactForm {
  text-align: center;
}

/* homepage wideview background IAN.G  */
.hero-container {
  height: 100vh;

  background: url('https://res.cloudinary.com/dfwhnlt1s/image/upload/v1713316571/Bowes-Irish-Whiskey/ile5xhvd7imzmajtmlcb.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.visual-overlay {
  position: absolute;
  background-color: rgba(121, 76, 46, 0.536);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Jumbotron IAN.G*/

.jumbotron {
  background-color: rgba(192, 182, 161, 0.791) !important;
  padding: 18px !important;
}

.jumbotron h1 {
  margin-bottom: 1rem;
  font-size: 48px;
}

/* Google font */
.address {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.jumbotron h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.hr-orange {
  border: 2px solid #ff883e90;
  width: 85%;
}

/* footer IAN.G */
.footer {
  background-color: #169b61eb;
}

.social-icons {
font-size: 30px;
}

